@page
@model WebApp___EasyList.Pages.BillingModel
@{
    ViewData["Title"] = "Billing";
}
<script src="~/js/billing.js"></script>
<div class="bs-docs-section d-flex flex-column">
    <br />
    <div class="d-flex flex-row justify-content-between">
        <h3 class="display-7 mb-3">My receipts</h3>
        <div>
            <button id="btnBack" class="btn btn-warning w-auto mx-4" type="button" tabindex="0">Back</button>
        </div>
    </div>
    <div class="row" id="tblContainer">
        <table id="tblBilling" class="display mt-5" style="width:100%">
            <thead>
            <th>ID</th>
            <th>Suscription ID</th>
            <th>Date</th>
            <th>Total Amount</th>
            </thead>
        </table>
        <br />
    </div>
    <br />
    <div id="noBillingContainer" class="d-none text-center p-5 border rounded" style="border-color: #ccc;">
        <h3 class="card-title text-center mb-4 fw-bold" style="font-size: 1.5rem; color: #F5805D">No payments</h3>
    </div>
</div>