@page
@model WebApp___EasyList.Pages.RegisterModel
@{
    ViewData["Title"] = "Forgot Your Password?";
}
<script src="~/js/ForgotPassword.js"></script>
<div class="container-fluid p-5 m-auto">
    <div class="col-xs-12 col-md-7 mx-auto my-2 p-4 shadow border" style="border-radius:2.5rem; background-color:#e4e4e4">
        <h2 class="fs-3" style="color:#F5805D">Forgot your password?</h2>
        <div class="form-group">
            <label for="txtEmail" class="form-label mt-3 fw-semibold">Email:</label>
            <input type="email" class="form-control" id="txtEmail">
            <div id="error-messageEmail" style="display: none; color: red; font-size:0.7rem"></div>
            <p class="my-4">Please fill in the email that you used to register. You will receive an email with a temporary access password.</p>
        </div>
        <div style="display:flex; justify-content:space-evenly; align-items: center; margin-top:1rem">
            <button type="button" class="btn" style="width:6rem; background-color:#642D3D; color:#fff" id="btnBack">Back</button>
            <button type="button" class="btn" style="width:6rem; background-color:#642D3D; color:#fff" id="btnSend">Send</button>
        </div>

    </div>

</div>
