@page
@model WebApp___EasyList.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Your Password?";
}
<script src="~/js/ForgotPassword.js"></script>
<div class="container my-5">
    <div class="card shadow-sm mx-auto" style="max-width: 750px; border: 1px solid #e6e6e6">
        <div class="card-body">
            <h3 class="card-title text-center mb-4 fw-bold" style="font-size: 1.5rem; color: #F5805D">Forgot your password?</h3>
            <div class="form-group">
                <label for="txtEmail" class="form-label mt-3 fw-semibold">Email:</label>
                <input type="email" class="form-control" id="txtEmail">
                <div id="error-messageEmail" style="display: none; color: red; font-size:0.7rem"></div>
                <p class="my-4">Please fill in the email that you used to register. You will receive an email with a temporary access password.</p>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-outline-secondary me-2" id="btnBack">Back</button>
                <button type="button" class="btn btn-primary" id="btnSend">Send</button>
            </div>
        </div>
    </div>
</div>

