@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<script src="~/js/Index.js"></script>
<div class="container my-5">
    <h3 class="text-center mb-4 fw-bold" style="font-size: 1.5rem; color: #632D3D">Welcome to EasyList</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3" id="tendersContainer"></div>
        </div>
    </div>
</div>
