@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<script src="~/js/Index.js"></script>
<div class="text-center w-100 h-100 my-5">
    <h3 class="display-7">Welcome to EasyList</h3>
    <br />
    <div>
        <div class="container">
            <div class="row" id="tendersContainer"></div>
        </div>
    </div>
</div>
