@page
@model WebApp___EasyList.Pages.LicitacionModel
@{
}
<script src="~/js/Licitacion.js"></script>
<br/>
<h1>Licitacion</h1>
<br/>
<div class="row d-flex justify-content-center bg-light" style="border-radius: 10px">
    <div class="col-lg-11">
        <div class="bs-component">
            <form>
                <fieldset>
                    <br/>
                    <legend>Licitacion registration from</legend>
                    <div class="w-100 d-flex flex-row justify-content-between">
                        <div class="m-2 form-group" style="width: 45%">
                            <label for="txtTitulo" class="form-label mt-4">Nombre de la Licitación</label>
                            <input type="text" class="form-control" id="txtTitulo" placeholder="Ingrese titulo">
                        </div>
                        <div class="m-2 form-group ms-auto" style="width: 20%">
                            <label for="drpAutomatica" class="form-label mt-4">Automatica</label>
                            <select class="form-select" id="drpAutomatica">
                                <option value=true>Yes</option>
                                <option value=false>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="w-100 d-flex flex-column justify-content-between">
                        <div class="m-2 form-group ms-auto flex-grow-1" style="width: 40%">
                            <label for="txtDescripcion" class="form-label mt-4">Descripcion</label>
                            <textarea type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese su descripcion"></textarea>
                        </div>
                        <div class="d-flex align-items-center flex-grow-0" style="width: 40%">
                            <input type="text" class="form-control" id="txtProduct" placeholder="Nuevo Producto">
                        </div>
                        <br/>
                        <button type="button" class="btn btn-primary" style="width: 40%">Nuevo producto</button>
                        <div class="m-2 form-group ms-auto flex-grow-1" style="width: 40%">
                            <label for="txtFechaMaxEntrega" class="form-label mt-4">Fecha de Licitación</label>
                            <input type="date" class="form-control" id="txtFechaMaxEntrega" placeholder="Ingrese fecha maxima para la entrega">
                        </div>
                        <div class="m-2 form-group ms-auto flex-grow-1" style="width: 40%">
                            <label for="txtFechaMaxOferta" class="form-label mt-4">Fecha de Entrega</label>
                            <input type="date" class="form-control" id="txtFechaMaxOferta" placeholder="Ingrese fecha maxima para ofetas">
                        </div>
                        <div class="m-2 form-group ms-auto flex-grow-1" style="width: 40%">
                            <label for="txtPresupuesto" class="form-label mt-4">Presupuesto</label>
                            <input type="number" class="form-control" id="txtPresupuesto" placeholder="Ingrese su presupuesto">
                        </div>
                        <div class="m-2 form-group ms-auto flex-grow-1" style="width: 40%">
                            <label for="drpEstado" class="form-label mt-4">Estado</label>
                            <select class="form-select" id="drpEstado">
                                <option value=0>Abierta</option>
                                <option value=1>Cerrada</option>
                                <option value=2>En proceso</option>
                                <option value=3>Terminada</option>
                                <option value=4>Eliminada</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </form>
            <br/>
            <button id="btnCancel" class="source-button btn btn-dark btn-xs" type="button" tabindex="0"><i class="bi bi-code">Cancelar</i></button>
            <button id="btnCreate" class="source-button btn btn-dark btn-xs" type="button" tabindex="0"><i class="bi bi-code">Publicar Licitación</i></button>
            <br/>
            <br/>
        </div>
    </div>
</div>
