@page
@model WebApp___EasyList.Pages.TendersModel
@{
    ViewData["Title"] = "Offers";
}
<script src="~/js/Offers.js"></script>
<div class="bs-docs-section d-flex flex-column">
    <br />
    <div class="d-flex flex-row justify-content-between">
        <h3 class="display-7 mb-3">Offers</h3>
        <div>
            <button id="btnBack" class="btn btn-warning w-auto mx-4" type="button" tabindex="0">Back</button>
        </div>
    </div>

    <div class="container my-5" id="formContainer">
        <div class="card shadow-sm mx-auto" style="max-width: 1100px; border: 1px solid #e6e6e6">
            <div class="card-body">
                <h3 class="card-title text-center mb-4 fw-bold" style="font-size: 1.5rem; color: #F5805D">Offer Form</h3>
                <form>
                <fieldset>
                    <div class="row">
                    <div class="col-lg-6 col-md-12 form-group">
                        <h5 style="padding-top: 20px;">Products</h5>
                        <div class="d-flex flex-column justify-content-around align-items-center" id="productsContainer">
                   
                        </div>
                        @*<div class="d-flex align-items-center" style="width: 100%; padding-top:10px;">
                            <select class="form-select mx-2" id="drpProduct"></select>
                            <input type="number" class="form-control mx-2" id="txtQuantity" placeholder="500 items">
                            <input type="number" class="form-control mx-2" id="txtPrice" placeholder="$100">
                            <button type="button" class="btn btn-outline-primary mx-2" onclick="createProductOffer()" style="width:100%">Add</button>
                        </div>*@
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="row">

                        <div class="col-sm-12 form-group">
                            <input hidden type="number" class="form-control" id="txtOfferID" aria-describedby="emailHelp" placeholder="Offer ID" style="margin: 0 auto;" />
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="txtMaxDeliverDate" class="form-label pt-3">Delivery Date</label>
                            <input type="date" class="form-control" id="txtMaxDeliverDate" placeholder="Enter your date for delivery">
                            <div id="error-messageMaxDeliverDate" style="display: none; color: red; font-size:0.7rem"></div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="txtBudget" class="form-label pt-3">Budget</label>
                            <input type="number" class="form-control" id="txtBudget" placeholder="Enter your budget">
                            <div id="error-messageBudget" style="display: none; color: red; font-size:0.7rem"></div>
                        </div>

                        </div>
                    </div>
                    </div>
                </fieldset>
                </form>
                <br />
                <div class="d-flex flex-row justify-content-around">
                    <button id="btnCreate" class="btn btn-primary w-25 mx-4" type="button" tabindex="0">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>