@page
@model WebApp___EasyList.Pages.OpenTendersModel
@{
    ViewData["Title"] = "OpenTenders";
}
<script src="~/js/OpenTenders.js"></script>
<div class="bs-docs-section d-flex flex-column">
    <br />
    <div class="d-flex flex-row justify-content-end">
        <div>
            <button id="btnBack" class="btn btn-warning w-auto mx-4 " type="button" tabindex="0" onclick="goBack()">Back</button>
        </div>
    </div>
    <div class="container my-5" id="formContainer">
        <div class="card shadow-sm mx-auto" style="max-width: 1100px; border: 1px solid #e6e6e6">
            <div class="card-body">
                <h3 class="card-title text-center mb-4 fw-bold" style="font-size: 1.5rem; color: #F5805D">Tender Title</h3>
                <div class="card-title text-center mb-4 fw-bold" id="tenderName"> </div>
                <form>
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 form-group">
                                <h5 style="padding-top: 20px;">Products</h5>
                                <div class="d-flex flex-column justify-content-around align-items-center" id="productsContainer"></div>

                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="tenderId" class="form-label mt-1"><h5>ID</h5></label>
                                        <div  id="tenderId" aria-describedby="emailHelp" style="margin: 0 auto;"></div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label for="tenderDescription" class="form-label"><h5>Description</h5></label>
                                        <div  id="tenderDescription" ></div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label for="tenderDeliverLocation" class="form-label"><h5>Deliver Location</h5></label>
                                        <div  id="tenderDeliverLocation"></div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label for="tenderDeliverDate" class="form-label pt-3"><h5>Delivery Date</h5></label>
                                        <div  id="tenderDeliverDate"></div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label for="tenderDeliverOffer" class="form-label pt-3"><h5>Offer Date</h5></label>
                                        <div  id="tenderDeliverOffer"></div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label for="tenderBudget" class="form-label pt-3"><h5>Budget</h5></label>
                                        <div id="tenderBudget"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br />
                <div class="d-flex flex-row justify-content-around">
                    <button id="btnCreate" class="btn btn-info w-25 mx-4" type="button" tabindex="0">Create Offer</button>
                </div>
            </div>
        </div>
    </div>
</div>