@page
@model WebApp___EasyList.Pages.ProfileModel
@{
    ViewData["Title"] = "Your Profile";
}
<script src="~/js/profile.js"></script>
<div class="container my-5" id="formContainer">
    <div class="card shadow-sm mx-auto" style="max-width: 750px; border: 1px solid #e6e6e6">
        <div class="card-body">
            <h3 class="card-title text-center mb-4 fw-bold" style="font-size: 1.5rem; color: #F5805D">Your Profile</h3>
            <form>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <div class="d-flex flex-column align-items-center">
                                <img id="imgUser" class="img-thumbnail mb-2 rounded-circle img-fluid" style="object-fit:cover; width: 200px; height: 200px;" alt="" />
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="txtName" class="form-label mt-1">Name</label>
                            <input type="text" class="form-control" id="txtName" placeholder="Enter the name" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="txtFirstLastname" class="form-label mt-1">First Lastname</label>
                            <input type="text" class="form-control" id="txtFirstLastname" placeholder="Enter the first lastname" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="txtSecondLastname" class="form-label mt-1">Second Lastname</label>
                            <input type="text" class="form-control" id="txtSecondLastname" placeholder="Enter the second lastname" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="txtEmail" class="form-label mt-1">Email address</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter the email" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="txtPhone" class="form-label mt-1">Phone number</label>
                            <input type="email" class="form-control" id="txtPhone" placeholder="Enter the phone number" />
                            <small id="emailHelp" class="form-text text-muted">Please insert only CR numbers.</small>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="txtPhone" class="form-label mt-1">Profile Picture</label>
                            <input class="form-control" accept="image/png, image/jpeg" type="file" id="userPic" />
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="d-flex flex-row justify-content-around mt-4">
                <a id="btnBack" href="/Settings" class="btn btn-outline-secondary w-25 mx-4" type="button" tabindex="0">Back to Settings</a>
                <button id="btnUpdate" class="btn btn-warning w-25 mx-4" type="button" tabindex="0">Update</button>
            </div>
        </div>
    </div>
</div>






