@page
@model WebApp___EasyList.Pages.SettingsModel
@{
    ViewData["Title"] = "Your Settings";
}
<script src="~/js/settings.js"></script>
<section class="container-fluid">
    <h3 class="display-7 mt-4 mb-3">Settings</h3>
    <div class="row flex-wrap justify-content-between">
        <div class="col-12 mb-3" id="tendersModule">
            <div class="card h-100">
                <div class="card-body d-flex flex-row justify-content-between align-content-center">
                    <div>
                        <h5 class="card-title"><i class="bi bi-file-earmark-text-fill text-primary"></i> Tenders</h5>
                        <p class="card-text">View and manage tenders</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="/Tenders" class="btn btn-primary"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3" id="productsModule">
            <div class="card h-100">
                <div class="card-body d-flex flex-row justify-content-between align-content-center">
                    <div>
                        <h5 class="card-title"><i class="bi bi-briefcase-fill text-primary"></i> Products</h5>
                        <p class="card-text">View and manage products</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="/Products" class="btn btn-primary"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3" id="usersModule">
            <div class="card h-100">
                <div class="card-body d-flex flex-row justify-content-between align-content-center">
                    <div>
                        <h5 class="card-title"><i class="bi bi-person-fill text-primary"></i> Users</h5>
                        <p class="card-text">View and manage users</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="/Users" class="btn btn-primary"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3" id="membershipsModule">
            <div class="card h-100">
                <div class="card-body d-flex flex-row justify-content-between align-content-center">
                    <div>
                        <h5 class="card-title"><i class="bi bi-bookmark-star-fill text-primary"></i> Memberships</h5>
                        <p class="card-text">View and manage memberships and plans</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="/Memberships" class="btn btn-primary"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3" id="permissionsModule">
            <div class="card h-100">
                <div class="card-body d-flex flex-row justify-content-between align-content-center">
                    <div>
                        <h5 class="card-title"><i class="bi bi-shield-lock-fill text-primary"></i> Permissions</h5>
                        <p class="card-text">View and manage permissions</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="/ManagePermissions" class="btn btn-primary"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3" id="reportsModule">
            <div class="card h-100">
                <div class="card-body d-flex flex-row justify-content-between align-content-center">
                    <div>
                        <h5 class="card-title"><i class="bi bi-file-earmark-bar-graph-fill text-primary"></i> Reports</h5>
                        <p class="card-text">View platform reports</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="/Reports" class="btn btn-primary"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3" id="auditLogModule">
            <div class="card h-100">
                <div class="card-body d-flex flex-row justify-content-between align-content-center">
                    <div>
                        <h5 class="card-title"><i class="bi bi-archive-fill text-primary"></i> Audit Log</h5>
                        <p class="card-text">View audit logs</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="/AuditLog" class="btn btn-primary"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


