@page
@model WebApp___EasyList.Pages.TendersModel
@{
    ViewData["Title"] = "Tenders Management";
}
<script src="~/js/TendersManagement.js"></script>
<div class="bs-docs-section d-flex flex-column">
    <br />
    <div class="d-flex flex-row justify-content-between">
        <h3 class="display-7 mb-3">Tenders Management</h3>
        <!-- Esta seccion sera eliminada debido a que el id informacion sera extraido del localStorage -->
        <div>
            <label for="txtAnalystID" class="form-label mt-1">Analyst ID</label>
            <input type="number" class="form-control" id="txtAnalystID" aria-describedby="emailHelp" placeholder="Analyst ID" style="margin: 0 auto;" />
        </div>
        <!-- _________________________________________________________________________________________ -->
        <div>
            <button id="btnSearch" class="btn btn-info w-auto mx-4" type="button" tabindex="0">Search</button>
        </div>
    </div>
    <div class="row" id="tblTenderContainer">
        <table id="tblTender" class="display mt-5" style="width:100%">
            <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
            <th>Max Offer Date</th>
            <th>Max Deliver Date</th>
            <th>Budget</th>
            <th>Allocation</th>
            <th>Deliver Location</th>
            </thead>
        </table>
        <br/>
    </div>
    <br />
    <h3 class="display-7 mb-3">Offers</h3>
    <br />
    <div class="row" id="tblOfferContainer">
        <table id="tblOffer" class="display mt-5" style="width:100%">
            <thead>
            <th>ID</th>
            <th>Offerer ID</th>
            <th>Tender ID</th>
            <th>Chosen</th>
            <th>Total Cost</th>
            <th>Deliver Date</th>
            </thead>
        </table>
        <br />
    </div>
</div>