@page
@model WebApp___EasyList.Pages.ValidationAccountModel
@{
}
<script src="~/js/ValidationAccount.js"></script>
<div class="container-fluid p-5 m-auto" id="divNumeroVerificacion">
    <div class="col-xs-12 col-md-5 mx-auto my-5 p-4  shadow border" style="border-radius:2.5rem; background-color:#e4e4e4">
        <h2 class="fs-3" style="color:#F5805D">Validación de Cuenta</h2>
        <p class="mb-0 fw-bolder" style="font-size:1.03rem;">Digita tu número para validar tu cuenta por medio de un SMS.</p>
        <div class="row ">
            <div class="col-md-4 mb-3 form-group">
                <label for="country-code" class="form-label mt-3 fw-semibold">Código de País</label>
                <input type="text" class="form-control" id="country-code" placeholder="Ej: +506">
                <div id="error-messageCountryCode" style="display: none; color: red;font-size:0.7rem"></div>
            </div>
            <div class="col-md-8 mb-3 form-group">
                <label for="phone-number" class="form-label mt-3 fw-semibold">Número de Teléfono</label>
                <input type="text" class="form-control" id="phone-number" placeholder="Ej: 8888-8888">
                <div id="error-messageNumber" style="display: none; color: red;font-size:0.7rem"></div>
            </div>
        </div>
        <div class="form-check mb-3 form-group">
            <input type="checkbox" class="form-check-input" id="email-validation-checkbox" >
            <label class="form-check-label fw-semibold " for="email-validation-checkbox">Validar con correo electrónico</label>
        </div>
        <div class="text-center">
            <button type="button" id="btnValidaOTP" class="btn btn-primary" style="width:8rem; background-color:#642D3D; color:#fff">Validar OTP</button>
        </div>

    </div>
</div>

@*<div class="container-fluid p-5 m-auto">
    <div class="row justify-content-center" ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-2">Validación de Cuenta</h3>
                    <p class="card-text" id="pValidaOTP">Digita tu número para validar tu cuenta por medio de un SMS.</p>
                    <form>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="country-code" class="form-label">Código de País</label>
                                <input type="text" class="form-control" id="country-code" placeholder="Ej: +506" required>
                            </div>
                            <div class="col-md-8 mb-3">
                                <label for="phone-number" class="form-label">Número de Teléfono</label>
                                <input type="text" class="form-control" id="phone-number" placeholder="Ej: 8888-8888" required>
                            </div>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="email-validation-checkbox" >
                            <label class="form-check-label" for="email-validation-checkbox">Validar con correo electrónico</label>
                        </div>
                        <div class="text-center ">
                            <button type="button" id="btnValidaOTP" class="btn btn-primary">Validar OTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row justify-content-center" id="divCodigoOTP">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-2">Validación de Cuenta</h3>
                <p class="card-text">Digita el código que recibiste por SMS o correo electrónico.</p>
                <form class="align-items-center">
                    <div class="row d-flex justify-content-center">
                        <div class="mb-3 col-md-8  ">
                            <label for="OTP-code" class="form-label">Codigo OTP</label>
                            <input type="text" class="form-control" id="OTP-code" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="btnValidaCuenta" class="btn btn-primary">Validar Cuenta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center"id="divVerificacionTerminada">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body ">
                <h3 class="card-title mb-2 text-center">Validación de Cuenta</h3>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Validar Cuenta</button>
                    </div>
            </div>
        </div>
    </div>
</div>