html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.logotype {
    height:auto;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: -2vh;
    margin-top: -2vh;
}

.banner_image {
    position: relative;
    height: 100%;
    line-height: 1.6;
    max-width: 100%;
    text-align: center;
    display: flex;
    width: 100%;
}

    .banner_image img {
        width: 100%;
        height: auto;
    }

.banner_text {
    color: black;
    padding: 5%;
    width: 100%;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title {
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

table {
    margin: 0 auto;
    font-size: 16px;
    width: 100%;

}

    table th,
    table td {
        padding: 10px;
        text-align: left;
    }

    table thead {
        border-radius: 0.25rem;
    }

    table th {
        background-color: #3E314B;
        color: white;
    }


@media screen and (min-width: 768px) {
    .banner_image {
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .banner_text {
        color: white;
        position: absolute;
        align-items: initial;
        max-width: 50%;
        left: 4%;
        width: auto;
    }
}

@media (max-width: 767.9px) {
    .banner_image {
        flex-direction: column;
        max-width: 100%;
    }

    .banner_text h1 {
        font-size: 30px;
        width: 100%;
    }

    .banner_text p {
        font-size: 15px;
        padding-top: 20px;
        text-align: justify;
        width: 100%;
    }
}
